.mfg-date {
    color: blue;
    font-size: 25px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-align: center;
    background: rgb(0, 242, 255);
   
}